# deps & build output
node_modules/
dist/

# local dev caches
.upm/
.local/
.config/
.lighthouseci/

# OS junk
.DS_Store
Thumbs.db

# archives / exports
*.zip
*.b64
*.tar.gz

# env / secrets
.env
.env.*

# logs & coverage (optional but smart)
npm-debug.log*
yarn-debug.log*
coverage/
